*{
  font-family: "Roboto",sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1B2D34;
}

.logo{
  text-align: center;
}

.logo img{
  width: 20%;
}

.wrapper{
  width: 550px;
  background-color: #27404A;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.logo{
  text-align: center;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .form-group{
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.wrapper .bi-reply-fill{
  position: relative;
  margin: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  cursor: pointer;
  transform: translateY(50%);
}

.wrapper a {
  transform: translateY(35px);
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.form-group .bi{
  font-size: 20px;
  position: absolute;
  transform: translateY(20%);
}

input{
  width: 90%;
  background: transparent;
  padding: 0px;
  margin: 10px 10px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
}

button {
  background-color: #47939A;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  margin: 20px;
  width: 80%;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: rgba(0, 0, 0, 0.4);
}