*{
  font-family: "Roboto",sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1B2D34;
}

.logo{
  text-align: center;
}

.logo img{
  width: 20%;
}

.wrapper{
  width: 550px;
  background-color: #27404A;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.logo{
  text-align: center;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.success-message {
  text-align: center;
  padding: 20px;
}

.success-message svg {
  color: #47939A;
  font-size: 48px;
  margin-bottom: 15px;
}

.success-message h2 {
  margin-bottom: 10px;
}

.success-message p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
}

.success-message button {
  background: transparent;
  text-decoration: underline;
  width: auto;
  padding: 5px;
}