{% extends 'start_page/layout.html' %}

{% block title %}Молодежный центр ИКИТ СФУ{% endblock %}
{% block content %}
    <h1>Начальная страница</h1>
    <a href="{% url 'users:login' %}">Войти</a>
    <a href="{% url 'users:register' %}">Присоединяйтесь к нам</a>
    <li><a href="https://t.me/IKIT_SibFU">Telegram</a></li>
    <li><a href="https://vk.com/mc_ikit">BK</a></li>
    <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
    <button type="submit">Выйти</button></form>
{% endblock %}